body{
    background-color: black;
    background-size: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#heading{
  padding: 5% 0;
  background-color: rgba(22, 20, 20, 0.726);
  width:960px;
  margin:5% auto;
  box-sizing: border-box;
  min-height: 80%;
}

#mainbody{
  position: relative;
  top:10%;
}


/* * {
    box-sizing: border-box;
}

body {
    
    background-size: 100%;
    box-align: left;
    background-color: black;
} */

img {
    max-width: auto;
    height: 150px;
    /* padding-left: 45%;
    padding-top: 2%; */
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    color: white;
    text-align: center;
}

#quiz {
    color: white;
    font-size: 120%;
    align-content: center;
    background: rgba(255, 13, 0, 0.411);
    margin: 2%;
}

#start {
    text-align: center;
    padding: 20,15,0,15;
}

/* .mainbody{

} */