body{
    background-color: black;
    background-size: 100%;
    text-align: center;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
}

#heading{
    padding: 5% 0;
    background-color: rgba(22, 20, 20, 0.726);
    width:960px;
    margin:5% auto;
    box-sizing: border-box;
    min-height: 80%;
}

#mainbody{
    position: relative;
}

img {
    max-width: auto;
    height: 150px;
}

h1 {
    text-align: center;
    color: white;
    line-height: 1.8;
}

h2 {
    color: rgb(219, 16, 16);
    text-align: center;
    line-height: 1;
    padding-top: 2%
}

h3 {
    line-height: 1.8;
}

#quiz {
    color: white;
    font-size:20px;
    align-content: center;
    margin: 2%;
    padding-top:2%;
    padding-bottom: 2%;
}

button{
    display:block;
    align-content: center;
    margin-left: 45%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 14px 40px;
    border-radius: 12px;
    background-color:rgb(219, 16, 16);
    color: white;
    font-size: 22px

}

input {
    margin-left: 4%;
}

/* Additional Screen Sizes */

/* Width at 980px  */
@media screen and (max-width: 980px) {
    #mainbody{
        width: 100%;
    }

    #quiz {
        width: 100%;
    }

    #heading #heading {
        max-width: 100%;
    }
}
/* Width at 768px  */
@media screen and (max-width: 768px) {
    
    #mainbody{
        max-width: 92%;
    }

    #quiz {
        max-width: 92%;
    }
    
    #heading {
        max-width: 92%;
        }
}
 /* Width at 640px */
@media screen and (max-width: 640px) {
    
    #mainbody{
        max-width: 92%;
        margin: 0;
    }

    #quiz {
        max-width: 100%;
        margin: 0;
    }

    #heading {
        max-width: 65%;
    }

    button{
        margin-left: 28%;
    }
}